
.notificationsStyle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: right;


}
.sidenav h2{
  padding-top: 10px;
  color: #f2f2f2;
  padding-left: 10px;
}
.sidenav image{
  border-radius: 50px;
}
.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1b1a1a ;
  /* overflow-x: hidden; */
  padding-top: 50px;
}

.sidenavbutton{
  padding-top: 13px;
  padding-bottom: 13px;
  text-decoration: none;
  font-size: 20px;
  color: #f2f2f2;
  display: block;
  border: .5px solid #818181;
  width: 240px;
 text-align: left;
 text-decoration: none;
 padding-left: 10px;
}
a {
  text-decoration: none;
}

.active button  {
  background-color: #818181;
  color: #111
}

.main {
  margin-left: 220px; /* Same as the width of the sidenav */
  margin-top: 40px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 20px 10px;
}

.navbar-logo img
{
width:100px;
height:100px;

border-radius: 50px;
}
.navbar {
  /* overflow: hidden; */
  background-color: #1b1a1a;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height:40px;
  z-index: 1;
  
}

.navbarbutton{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* position: relative; */
  z-index: 1;
  height:40px;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
